<table class="table">
  <tbody>
    <tr>
      <td>Автор</td>
      <td>{{ product.author }}</td>
    </tr>
    <tr>
      <td>Издатель</td>
      <td>{{ product.publisher }}</td>
    </tr>
    <tr>
      <td>Год издания</td>
      <td>{{ product.publication_date }}</td>
    </tr>
    <tr>
      <td>Кол-во страниц</td>
      <td>{{ product.pages_number }}</td>
    </tr>
    <tr>
      <td>Формат</td>
      <td>{{ product.format }}</td>
    </tr>
    <tr>
      <td>Вес, г</td>
      <td>{{ product.wt }}</td>
    </tr>
    <tr>
      <td>Возрастные ограничения</td>
      <td>{{ product.age_limit }}</td>
    </tr>
  </tbody>
</table>